
:root{
    --primary-color: #aaaaac;
    --font-title: 'Montserrat';
    --font-default: 'inter';
}

#imagens img {
    height: 253px;
    width: 453px;
    

}



h1 {
    color: gold;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    font-size: 4rem;
    font-family: 'Montserrat';
    font-weight: 700;
    left: 700px;
}

header {
    height: 19vh;
    position: relative;
    padding-left: 6.8rem;
    padding-top: 16.8rem;
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}
header::before{
    content: '';
    background-image: url('https://conteudo.imguol.com.br/c/entretenimento/1a/2021/04/14/ford-mustang-mach-1-1618431285090_v2_1170x540.jpg');
    background-size: cover;
    height: 98%;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

span {
    color: #000000;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    font-size: 2rem;
}
.botao {
    background-color: #f1f1f5;
    color: rgb(0, 0, 0);
    font-family: 'inter';
    padding: .25rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: opacity 1s;
   
}
#Tudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#Apresetacao div{
  justify-content: flex-start;
}



.botao:hover{
 opacity: .5;
 
}
body {
    background-color: #ffffff;
        font-family: "Poppins", sans-serif;
       
      }
      .row {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    

    #secao-menu {
        display: flex;
        
    }

    
    span::before{
        background-image: url('C:\Users\bruno.ccfilho\Melhores-Carros-2023\assets.png');
    }
    .card {
       color : #00ff22;
        border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
        padding: 30px;
        margin: 20px;
        width: 400px;
        transition: all 0.5s ease-out;
      }
      .card:hover {
        transform: translateY(-5px);
        cursor: pointer;
      }
       
      .card p {
        color: #000000;
        font-size: 20px;
      }
       
      .image {
        float: right;
        max-width: 64px;
        max-height: 64px;
      }
      .blue {
        border-left: 3px solid #000000;
      }
       
      .green {
        border-left: 3px solid #ff8800;
      }
       
      .red {
        border-left: 3px solid #ff0015;
      }
      #secao-Questionario{
        height: 100vh;
        padding: 3rem;
      }
      form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #aaaaac;
        max-width: 500px;
          border-radius: 5rem;
          padding: 2rem;
          margin: 2rem auto;
          
      }
      .campo {
        display: flex;
        flex-direction: column;
      }
        .linha {
          grid-column: 1 / 3;
        }
        input[type="text"]
        input[type="number"]
        select {
          background-color: ADADBC;
          border: 0;
          padding: .5rem;
          outline: none;
          border-radius: .5rem;


        }
        input:focus{
        border: solid;
        

        }